# -*- yaml -*-

apps_dirs:
  - "."
  - "_build/default/lib/*"

include_dirs:
  - "_build/default/lib/*/include"
  - "include"


diagnostics:
  disabled:
    - bound_var_in_pattern
  enabled:
    - crossref
    - dialyzer
    - compiler
    - elvis

lenses:
  enabled:
    - function-references
  disabled:
    - suggest-spec

providers:
  disabled:
    - document-formatting
