# -*- yaml -*-

deps_dirs:
 - "src"

include_dirs:
  - "include"
  - "_build/default/lib"

diagnostics:
  disabled:
    - bound_var_in_pattern
  enabled:
    - crossref
    - dialyzer
    - compiler
    - elvis

lenses:
  enabled:
    - function-references
  disabled:
    - suggest-spec



plt_path: .advent.plt


providers:
  disabled:
    - document-formatting
