%% -*- erlang -*-
{minimum_otp_vsn, "26"}.

{erl_opts, [
    debug_info,
    {feature, maybe_expr, enable}
]}.

{plugins, []}.
{project_plugins, [
    {rebar3_lint, "~> 3.1.0"},
    {rebar3_hank, "~> 1.4.0"},
    {rebar3_git_vsn, "~> 1.1.0"},
    {erlfmt, "~> 1.3.0"}
]}.

{provider_hooks, [{post, [{compile, git_vsn}]}]}.
{git_vsn, [
    {env_key, git_vsn},
    {describe_opt, "--tags --abbrev=10"},
    {separate, true}
]}.

{alias, [
    {test, [compile, {fmt, "--check"}, hank, xref, lint, eunit]},
    {commit, [compile, {fmt, "--check"}, hank, xref, lint]}
]}.

{erlc_compiler, [{recursive, true}]}.

{eunit_tests, [{module, intcode_tests}, {module, advent_tests}]}.

{src_dirs, [
    "src",
    "2019",
    "2020",
    "2021",
    "2022",
    "2023"
]}.

{erlfmt, [
    write,
    {files, [
        "src/*.erl",
        "2019/src/*.erl",
        "2020/src/*.erl",
        "2021/src/*.erl",
        "2022/src/*.erl",
        "2023/src/*.erl"
    ]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    % ,locals_not_used
    % ,exports_not_used
    deprecated_function_calls,
    deprecated_functions
]}.
