%% -*- erlang -*-

{erl_opts, [debug_info
           ,{feature, maybe_expr, enable}
           ]}.

{plugins, [rebar3_format]}.
{project_plugins, [rebar3_lint]}.

{erlc_compiler,[{recursive, true}]}.

{extra_src_dirs, ["2019"
                 ,"2020"
                 ,"2021"	
                 ,"2022"
                 ,"2023"
                 ]}.
{format,
 [{files, ["2019/src/*.erl", "2020/src/*.erl", "2021/src/*.erl", "2022/src/*.erl", "2023/src/*.erl"]},
  {options, #{print_width => 100, inline_qualified_function_composition => true}}
]}.

{xref_checks, [undefined_function_calls
              ,undefined_functions
              ,locals_not_used
              ,exports_not_used
              ,deprecated_function_calls
              ,deprecated_functions
              ]}.
