%% -*- erlang -*-
{minimum_otp_vsn, "27"}.

{erl_opts, [debug_info]}.

{deps, [
    {htmerl, "0.1.0"}
]}.

{plugins, []}.
{project_plugins, [
    rebar3_auto,
    {rebar3_lint, "~> 3.2.6"},
    {rebar3_hank, "~> 1.4.1"},
    {rebar3_git_vsn, "~> 1.1.0"},
    {erlfmt, "~> 1.5.0"}
]}.

{shell, [
    {config, "aoc.config"},
    {apps, [aoc]}
]}.

{provider_hooks, [{post, [{compile, git_vsn}]}]}.
{git_vsn, [
    {env_key, git_vsn},
    {describe_opt, "--tags --abbrev=8"},
    {separate, true}
]}.

{alias, [
    {test, [compile, {fmt, "--check"}, hank, xref, lint, eunit]},
    {commit, [compile, {fmt, "--check"}, hank, xref, lint, eunit]}
]}.

{erlc_compiler, [{recursive, true}]}.

{eunit_opts, [{sys_config, ["aoc.config"]}]}.
% {eunit_tests, [{module, intcode_tests}, {module, advent_tests}]}.

{erlfmt, [write]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    % exports_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.
