name: Erlang CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    container:
      image: erlang:28-slim

    steps:
    - uses: actions/checkout@v5
    - name: Add git
      run: | 
        apt-get update
        apt-get install -y --no-install-recommends git
    - name: Set ownership
      run: |
        # make owner correct
        chown -R $(id -u):$(id -g) $PWD
    - name: Compile
      run: rebar3 compile
      env:
        DEBUG: 1
    - name: Run tests
      run: rebar3 test
      env:
        DEBUG: 1